server {
        listen 80;
        listen [::]:80;
        gzip            on;
        gzip_types      *
        gzip_min_length 1024;

        root /app/public;
        index index.php index.php index.htm;

        location ~ \.php$ {
#               limit_conn addr 8;
#               limit_req zone=ip_back burst=8 delay=4;
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass app:9000;
                fastcgi_index index.php;
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;
#               fastcgi_param REMOTE_ADDR $http_x_real_ip;
                fastcgi_read_timeout 300;
        }

        location / {
                try_files $uri $uri/ /index.php?$query_string;
                gzip_static on;
        }
}